<div class="parent ">
    <swiper
    style="--swiper-navigation-color: #fff;--swiper-pagination-color: #fff; width: 100%; height: 50%;"
      [loop]="true"
      [spaceBetween]="1"
      [navigation]="true"
      [thumbs]="{ swiper: thumbsSwiper }"
      class="mySwiper2 "
  >
    <ng-template  swiperSlide *ngFor="let item of items" >
     <div class="w-full object-cover max-w-full" >
        <img src="./assets/images/caru/{{item}}.jpg"/>
     </div>
     <div class="lang" >
        <languages></languages>
    </div>
     <div class="overlay" style="z-index:99999;">
        <h1 class="title">{{('welecamtoAlraed' | transloco)}}</h1>
        <p class="font-semibold m-2">{{('enjoyyoureyes' | transloco)}}</p>
        <button class="btn" mat-button  routerLink="/signed-in-redirect">{{('login' | transloco)}}</button>
    </div>
    </ng-template>

  </swiper>
  <!-- <swiper
      (swiper)="thumbsSwiper = $event"
      [loop]="true"
      [spaceBetween]="10"
      [slidesPerView]="4"
      [freeMode]="true"
      [watchSlidesProgress]="true"
      class="mySwiper"
    >
    <ng-template swiperSlide *ngFor="let item of items">
        <img src="./assets/images/sofa/{{item}}.jpg"/>
    </ng-template>
    </swiper>` -->

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">

        <div class="mb-6 sm:mb-12">
            <mat-button-toggle-group
                class="flex flex-wrap -m-2"
                [(ngModel)]="selectedFilter"
                (change)="onFilterChange($event)">
                <ng-container *ngFor="let filter of filters">
                    <mat-button-toggle
                        class="m-2"
                        [value]="filter">
                        <span class="text-secondary">{{filter | titlecase | transloco}}</span>
                        <!-- <span class="ml-1.5 font-medium text-secondary">({{numberOfCards[filter]}})</span> -->
                    </mat-button-toggle>
                </ng-container>
            </mat-button-toggle-group>
        </div>

        <div class="card">
            <fuse-card class="flex flex-col max-w-80 w-full filter-sofa filter-roomfamily" *ngFor="let item of products">
               <div class="container">
                <img
                class="image object-cover"
                src="{{item.avatar}}"
                alt="Card cover image">
                <div class="text-lg mt-4 text-center"> {{('Price: '|transloco)}}: {{item.price}}</div>
            <div class="middle m-8">
                <div class="text leading-tight">{{('NameHall: ' | transloco)}}: {{item.namehall}}</div>
                <div class="text mt-2"> {{('Address: ' |transloco)}}:{{item.address}}</div>
                <div class="text mt-2"> {{('ProductName: '|transloco)}}{{(item.name)}}</div>
            </div>
               </div>
            </fuse-card>
         </div>
        <button mat-button class="prim">{{('Seemore' | transloco)}}</button>
    </div>
</div>
