<div class="flex flex-col w-full">

    <!-- Edit mode -->
    <ng-container *ngIf="contactForm">

        <!-- Header -->
        <div class="relative w-full h-40 sm:h-48 px-8 sm:px-12 bg-accent-100 dark:bg-accent-700">
            <!-- Background -->
            <ng-container *ngIf="contact.background">
                <img
                    class="absolute inset-0 object-cover w-full h-full"
                    [src]="contact.background">
            </ng-container>
            <!-- Close button -->
            <div class="flex items-center justify-end w-full max-w-3xl mx-auto pt-6">
                <button
                    mat-icon-button
                    [matTooltip]="'Close'"
                    [routerLink]="['../']">
                    <mat-icon
                        class="text-white"
                        [svgIcon]="'heroicons_outline:x'"></mat-icon>
                </button>
            </div>
        </div>

        <!-- Contact form -->
        <div class="relative flex flex-col flex-auto items-center px-6 sm:px-12">
            <div class="w-full max-w-3xl">
                <form [formGroup]="contactForm">

                    <!-- Avatar -->
                    <div class="flex flex-auto items-end -mt-16">
                        <div class="relative flex items-center justify-center w-32 h-32 rounded-full overflow-hidden ring-4 ring-bg-card">
                            <!-- Upload / Remove avatar -->
                            <div class="absolute inset-0 bg-black bg-opacity-50 z-10"></div>
                            <div class="absolute inset-0 flex items-center justify-center z-20">
                                <div>
                                    <input
                                        id="avatar-file-input"
                                        class="absolute h-0 w-0 opacity-0 invisible pointer-events-none"
                                        type="file"
                                        [multiple]="false"
                                        [accept]="'image/jpeg, image/png'"
                                        (change)="uploadAvatar(avatarFileInput.files)"
                                        #avatarFileInput>
                                    <label
                                        class="flex items-center justify-center w-10 h-10 rounded-full cursor-pointer hover:bg-hover"
                                        for="avatar-file-input"
                                        matRipple>
                                        <mat-icon
                                            class="text-white"
                                            [svgIcon]="'heroicons_outline:camera'"></mat-icon>
                                    </label>
                                </div>
                                <div>
                                    <button
                                        mat-icon-button
                                        (click)="removeAvatar()">
                                        <mat-icon
                                            class="text-white"
                                            [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                                    </button>
                                </div>
                            </div>
                            <!-- Image/Letter -->
                            <img
                                class="object-cover w-full h-full"
                                *ngIf="contact.avatar"
                                [src]="contact.avatar">
                            <div
                                class="flex items-center justify-center w-full h-full rounded overflow-hidden uppercase text-8xl font-bold leading-none bg-gray-200 text-gray-600 dark:bg-gray-700 dark:text-gray-200"
                                *ngIf="!contact.avatar">
                                {{contact.name.charAt(0)}}
                            </div>
                        </div>
                    </div>

                    <!-- Name -->
                    <div class="mt-8">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>{{'NameContact' | transloco }}</mat-label>
                            <mat-icon
                                matPrefix
                                class="hidden sm:flex icon-size-5"
                                [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                            <input
                                matInput
                                [formControlName]="'name'"
                                [placeholder]="'Name'| transloco"
                                [spellcheck]="false">
                        </mat-form-field>
                    </div>
                    <!-- Emails -->
                    <div class="mt-8">
                        <div class="space-y-4">
                            <ng-container *ngFor="let email of contactForm.get('emails')['controls']; let i = index; let first = first; let last = last; trackBy: trackByFn">
                                <div class="flex">
                                    <mat-form-field class="fuse-mat-no-subscript flex-auto">
                                        <mat-label *ngIf="first">{{'EmailContact' | transloco}}</mat-label>
                                        <mat-icon
                                            matPrefix
                                            class="hidden sm:flex icon-size-5"
                                            [svgIcon]="'heroicons_solid:mail'"></mat-icon>
                                        <input
                                            matInput
                                            [formControl]="email.get('email')"
                                            [placeholder]="'Emailaddress' | transloco"
                                            [spellcheck]="false">
                                    </mat-form-field>
                                    <mat-form-field class="fuse-mat-no-subscript flex-auto w-full max-w-24 sm:max-w-40 ml-2 sm:ml-4">
                                        <mat-label *ngIf="first">{{'Label' | transloco}}</mat-label>
                                        <mat-icon
                                            matPrefix
                                            class="hidden sm:flex icon-size-5"
                                            [svgIcon]="'heroicons_solid:tag'"></mat-icon>
                                        <input
                                            matInput
                                            [formControl]="email.get('label')"
                                            [placeholder]="'Label' | transloco">
                                    </mat-form-field>
                                    <!-- Remove email -->
                                    <ng-container *ngIf="!(first && last)">
                                        <div
                                            class="flex items-center w-10 pl-2"
                                            [ngClass]="{'mt-6': first}">
                                            <button
                                                class="w-8 h-8 min-h-8"
                                                mat-icon-button
                                                (click)="removeEmailField(i)"
                                                matTooltip>
                                                <mat-icon
                                                    class="icon-size-5"
                                                    [svgIcon]="'heroicons_solid:trash'"></mat-icon>
                                            </button>
                                        </div>
                                    </ng-container>
                                </div>
                            </ng-container>
                        </div>
                        <div
                            class="group inline-flex items-center mt-2 -ml-4 py-2 px-4 rounded cursor-pointer"
                            (click)="addEmailField()">
                            <mat-icon
                                class="icon-size-5"
                                [svgIcon]="'heroicons_solid:plus-circle'"></mat-icon>
                            <span class="ml-2 font-medium text-secondary group-hover:underline">{{'Addanemailaddress' | transloco}}</span>
                        </div>
                    </div>

                    <!-- Phone numbers -->
                    <div class="mt-8">
                        <div class="space-y-4">
                            <ng-container *ngFor="let phoneNumber of contactForm.get('phoneNumbers')['controls']; let i = index; let first = first; let last = last; trackBy: trackByFn">
                                <div class="relative flex">
                                    <mat-form-field class="fuse-mat-no-subscript flex-auto">
                                        <mat-label *ngIf="first">{{'Phone' | transloco}}</mat-label>
                                        <input
                                            matInput
                                            [formControl]="phoneNumber.get('phoneNumber')"
                                            [placeholder]="'Phone' | transloco">
                                        <mat-select
                                            class="mr-1.5"
                                            [formControl]="phoneNumber.get('country')"
                                            matPrefix>
                                            <mat-select-trigger>
                                                <span class="flex items-center">
                                                    <span
                                                        class="hidden sm:flex w-6 h-4 mr-1 overflow-hidden"
                                                        [style.background]="'url(\'/assets/images/apps/contacts/flags.png\') no-repeat 0 0'"
                                                        [style.backgroundSize]="'24px 3876px'"
                                                        [style.backgroundPosition]="getCountryByIso(phoneNumber.get('country').value).flagImagePos"></span>
                                                    <span class="sm:mx-0.5 font-medium text-default">{{getCountryByIso(phoneNumber.get('country').value).code}}</span>
                                                </span>
                                            </mat-select-trigger>
                                            <ng-container *ngFor="let country of countries; trackBy: trackByFn">
                                                <mat-option [value]="country.iso">
                                                    <span class="flex items-center">
                                                        <span
                                                            class="w-6 h-4 overflow-hidden"
                                                            [style.background]="'url(\'/assets/images/apps/contacts/flags.png\') no-repeat 0 0'"
                                                            [style.backgroundSize]="'24px 3876px'"
                                                            [style.backgroundPosition]="country.flagImagePos"></span>
                                                        <span class="ml-2">{{country.name}}</span>
                                                        <span class="ml-2 font-medium">{{country.code}}</span>
                                                    </span>
                                                </mat-option>
                                            </ng-container>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field class="fuse-mat-no-subscript flex-auto w-full max-w-24 sm:max-w-40 ml-2 sm:ml-4">
                                        <mat-label *ngIf="first">{{'Label' | transloco}}</mat-label>
                                        <mat-icon
                                            matPrefix
                                            class="hidden sm:flex icon-size-5"
                                            [svgIcon]="'heroicons_solid:tag'"></mat-icon>
                                        <input
                                            matInput
                                            [formControl]="phoneNumber.get('label')"
                                            [placeholder]="'Label' | transloco">
                                    </mat-form-field>
                                    <!-- Remove phone number -->
                                    <ng-container *ngIf="!(first && last)">
                                        <div
                                            class="flex items-center w-10 pl-2"
                                            [ngClass]="{'mt-6': first}">
                                            <button
                                                class="w-8 h-8 min-h-8"
                                                mat-icon-button
                                                (click)="removePhoneNumberField(i)"
                                                matTooltip>
                                                <mat-icon
                                                    class="icon-size-5"
                                                    [svgIcon]="'heroicons_solid:trash'"></mat-icon>
                                            </button>
                                        </div>
                                    </ng-container>
                                </div>
                            </ng-container>
                        </div>
                        <div
                            class="group inline-flex items-center mt-2 -ml-4 py-2 px-4 rounded cursor-pointer"
                            (click)="addPhoneNumberField()">
                            <mat-icon
                                class="icon-size-5"
                                [svgIcon]="'heroicons_solid:plus-circle'"></mat-icon>
                            <span class="ml-2 font-medium text-secondary group-hover:underline">{{'Addaphonenumber'| transloco}}</span>
                        </div>
                    </div>

                    <!-- Address -->
                    <div class="mt-8">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>{{'Address' | transloco}}</mat-label>
                            <mat-icon
                                matPrefix
                                class="hidden sm:flex icon-size-5"
                                [svgIcon]="'heroicons_solid:location-marker'"></mat-icon>
                            <input
                                matInput
                                [formControlName]="'address'"
                                [placeholder]="'Address' | transloco">
                        </mat-form-field>
                    </div>
                    <!-- Actions -->
                    <div class="flex items-center mt-10 -mx-6 sm:-mx-12 py-4 pr-4 pl-1 sm:pr-12 sm:pl-7 border-t bg-gray-50 dark:bg-transparent">
                        <!-- Delete -->
                        <button
                            mat-button
                            [color]="'warn'"
                            [matTooltip]
                            (click)="deleteContact()">
                            {{'DeleteContact' | transloco}}
                        </button>
                        <!-- Cancel -->
                        <button
                            class="ml-auto"
                            mat-button
                            [matTooltip]
                            (click)="toggleEditMode(false)">
                            {{'Cancel' | transloco}}
                        </button>
                        <!-- Save -->
                        <button
                            class="ml-2"
                            mat-flat-button
                            [color]="'primary'"
                            [disabled]="contactForm.invalid"
                            [matTooltip]="'Save'"
                            (click)="updateContact()">
                            {{'Save' | transloco}}
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </ng-container>
</div>
